<%= form_for(@charater) do |f| %>
  <% if @charater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charater.errors.count, "error") %> prohibited this charater from being saved:</h2>

      <ul>
      <% @charater.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label "Nombre" %>
  <%= f.text_field :name, placeholder: "Su nombre será anónimo" %> 
</div>

<div class="field">
      <%= f.label "Tipo de crimen" %>
      <%= f.select :tipo, [['Mano Armada'],['Paseo Millonario'], ['Fleteo (robo a la salida de una identidad bancaria)  '], ['Carterista'], ['Asalto con Arma Blanca'], ['Extorsion'], ['Otro']], :include_blank => true %> 
</div>

<div class="field">
      <%= f.label "Barrio" %>
      <%= f.select :neighborhood, [['Antonio Nariño'], ['Barrios Unidos'], ['Bosa'], ['Candelaria'], ['Chapinero'], ['Ciudad Bolívar'],['Engativá'],['Fontibón'],['Kennedy'],['Mártires'],['Puente Aranda'],['Rafael Uribe'],['San Cristóbal'],['Santa Fe'],['Suba'],['Teusaquillo'],['Tunjuelito'],['Usaquén']], :include_blank => true %> 
</div>
<div class="field">
      <%= f.label "Lugar" %>
      <%= f.text_field :address, placeholder: "Ejemplo: Calle 64 con Carrera 7a" %>
</div>

<div class="field field_date">
  <%= f.label "Fecha" %>
  <%= f.date_select :date, ampm: true, :start_year => Date.current.year, :end_year => Date.current.year + 2, order: [:day, :month, :year]  %>
</div>

<div class="field">
      <%= f.label "Descripción"%>
      <%= f.text_area :description, placeholder: "Cuéntanos: ¿qué te pasó?", :rows => "7"%>
</div>

  <div class="field">
    <%= f.hidden_field :latitude, :id=>"latitude" %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude, :id=>"longitude" %>
  </div>

  <div class="actions">
    <%= f.submit "Reportar", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
