<h1>Recientes</h1>
    <div class="span3" id="markers_list">
    </div>
    <div class="span9">
 <!--    <%= gmaps("auto_adjust" => "true", "markers" => {"data" => @json, "options" => {"list_container" => "markers_list" }}) %>
    </div>   -->
  

  <!-- 
  <dl class="dl-vertical">
  <% @charaters.each do |charater| %>
  <dt><%= link_to(charater.tipo, charater) %> @<%= charater.address %> (<%= charater.date %>)
  </dt>
  <dd><%= charater.description %></dd>
  
  </dl>

  <hr>

  <% end %>
  <div class="pagination-mini pagination-centered">
  <%=will_paginate @charaters%>
  </div> -->