<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Date</th>
    <th>Description</th>
    <th>Cedula</th>
    <th>Neighborhood</th>
    <th>Tipo</th>
  </tr>
  <% @charaters.each do |charater| %>
  <tr>
    <td><%= charater.id %></td>
    <td><%= charater.name %></td>
    <td><%= charater.address %></td>
    <td><%= charater.longitude %></td>
    <td><%= charater.latitude %></td>
    <td><%= charater.created_at %></td>
    <td><%= charater.updated_at %></td>
    <td><%= charater.date %></td>
    <td><%= charater.description %></td>
    <td><%= charater.cedula %></td>
    <td><%= charater.neighborhood %></td>
    <td><%= charater.tipo %></td>
  </tr>
  <% end %>
</table>

