<!-- http://railsapps.github.io/rails-heroku-tutorial.html -->
<%= provide(:title, 'Home')%>
<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.5&sensor=false&amp;libraries=geometry"></script>
<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.5/src/markerclusterer_packed.js">
</script>

<h1>Listing charaters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Tipo</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charaters.each do |charater| %>
  <tr>
    <td><%= charater.name %></td>
    <td><%= charater.date %></td>
    <td><%= charater.tipo %></td>
    <td><%= charater.address %></td>
    <td><%= charater.latitude %></td>
    <td><%= charater.longitude %></td>
    <td><%= link_to 'Show', charater %></td>
    <td><%= link_to 'Edit', edit_charater_path(charater) %></td>
    <td><%= link_to 'Destroy', charater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charater', new_charater_path %>

<%= gmaps4rails(@json) %>
<%= @json %>