<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @charater.name %>
</p>

<p>
  <b>Date:</b>
  <%= @charater.date %>
</p>

<p>
  <b>Tipo:</b>
  <%= @charater.tipo %>
</p>

<p>
  <b>Address:</b>
  <%= @charater.address %>


<%= link_to 'Edit', edit_charater_path(@charater) %> |
<%= link_to 'Back', charaters_path %>


<div class="email_reg_message well">

<b>Estimado/(a)
  <%= @subscriber.email %>:</b>
</br>
Gracias por registrarte a Bogot치 Segura. De ahora en adelante recibir치s reportes mensuales sobre el estado de la seguridad en Bogot치 y en tu barrio.
</br>
</br>
Te deseamos mucha suerte,
</br>
El Equipo de Bogot치 Segura

</br>

</div>
<%= link_to 'Volver', charaters_path %>
