<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Correo Electrónico" %>
    <%= f.text_field :email_address %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirma tu contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  
  <div class="actions">
  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>  </div>
<% end %>


</div>
