<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
          img{max-width: none;} 
          #map-canvas {
          width: 800px;
          height: 400px;
          margin-left: 0%;
          margin-right: 0%;
          }
          </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>


var map;
var antonio_narino = new google.maps.LatLng(4.589258, -74.103227);

      var barrios_unidos = new google.maps.LatLng(4.679257, -74.078608);

      var bosa = new google.maps.LatLng(4.620229, -74.189672);

      var candelaria = new google.maps.LatLng(4.586349, -74.157429);

      var chapinero = new google.maps.LatLng(4.652396, -74.062672);

      var ciudad_bolivar = new google.maps.LatLng(4.543228,-74.137516);

      var engativa = new google.maps.LatLng(4.702012,-74.112082);

      var fontibon = new google.maps.LatLng(4.682337,-74.140234);

      var kennedy = new google.maps.LatLng(4.64692,-74.152937);

      var martires = new google.maps.LatLng(4.606369,-74.08958);

      var puente_aranda = new google.maps.LatLng(4.616978,-74.106588);

      var rafael_uribe = new google.maps.LatLng(4.657015,-74.069016);

      var san_cristobal = new google.maps.LatLng(4.568554,-74.083586);

      var santa_fe = new google.maps.LatLng(4.599867,-74.040842);

      var suba = new google.maps.LatLng(4.762573,-74.087391);

      var teusaquillo = new google.maps.LatLng(4.648289,-74.083242);

      var tunjuelito = new google.maps.LatLng(4.589429,-74.13168);

      var usaquen = new google.maps.LatLng(4.744097,-74.01804);

      var myCenter = new google.maps.LatLng(4.5981,-74.0758);

function initialize() {
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(4.5981,-74.0758),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
      document.getElementById("latitude").value = event.latLng.lat();
      document.getElementById("longitude").value = event.latLng.lng();  
  });
}

      function placeMarker(location) {
        var marker = new google.maps.Marker({
          map: map,
          draggable: true,
          position: location
        });
        
        var latitude = location.lat();
        var longitude = location.lng();
        var infowindow = new google.maps.InfoWindow({
          content: "Gracias por ubicar tu sitio de interés"
        });
        infowindow.open(map,marker);

      }

google.maps.event.addDomListener(window, 'load', initialize);

$(document).ready(function() { 
    $("select#mySelect").change(function(){ 
      
        var latLngString = $(this).val();
        var latLngArray = latLngString.split(",");
        var latLng = new google.maps.LatLng(latLngArray[0], latLngArray[1]);
        map.panTo(latLng);    
    });
     });

    </script>

</head>  
<div class="row">
<div class="span6">

<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Correo Electrónico" %>
    <%= f.text_field :email_address %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirma tu contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>

<!--   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div> -->
  <div class="field">
    
    <%= f.hidden_field :latitude, :id=>"latitude" %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :longitude, :id=>"longitude" %>
  </div>
  
  <div class="actions">
  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>  </div>
<% end %>
  <%= link_to 'Back', usuarios_path %>
  <p>Ya tienes cuenta? <%= link_to "Accede a tu cuenta", signin_path %></p>
</div>

<div class="field span6">
Haz click en el lugar sobre el que quieres recibir reportes (tu casa, oficina, universidad, etc.)
  
  <%= render 'barrioslist' %>

  <div id="map-canvas"></div>
</div>
</div>
</html>


