  <p id="notice"><%= notice %></p>
<div class="show_page">
<h1>Bienvenido, <%= @usuario.name %></h1>


<div class="span5">

<!-- Tab -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><h3>Alrededor Tuyo</h3></a></li>
    <li><a href="#tab2" data-toggle="tab"><h3>Tu Información</h3></a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active crime_list2" id="tab1">
      <ul>
        <% for charater in @charaters %>
          <ol><%= link_to charater.tipo, charater %> (<%= charater.distance.to_f.round(2) %> km)</ol>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane" id="tab2">
      <div class="user_info_title">Nombre y apellido</div>
      <div class="user_info"><%= @usuario.name %> <%= @usuario.last_name %></div>

      <div class="user_info_title">Dirección de interés:</div>
      <div class="user_info"><%= @usuario.address %></div>

      <div class="user_info_title">Correo electrónico:</div>
      <div class="user_info"><%= @usuario.email_address %></div>

    </div>

  </div>
</div>
  
</div>
<!-- End Tab -->

<!-- Map -->
<div class="span7">
     <%= gmaps({
             "map_options" => {:id => "map2", 
              "auto_adjust" => false,
              "center_latitude" => @usuario.latitude, 
              "center_longitude" => @usuario.longitude, 
              "detect_location" => false, 
              "center_on_user" => false,
              "zoom" => 16},
              "markers"     => {"data" => @json1 }
            })
      %>

</div>

</div>





</div>


