<div class="admin_page">
<p id="notice"><%= notice %></p>

    <%= link_to "CSV", subscribers_path(format: "csv") %> |
    <%= link_to "Excel", subscribers_path(format: "xls") %>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
</div>