<div class="admin_page">
Bienvenido a Bogotá Segura
<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.name %>
</p>

<p>
  <b>Address:</b>
  <%= @usuario.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @usuario.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @usuario.longitude %>
</p>

<p>
  <b>Email Address:</b>
  <%= @usuario.email_address %>
</p>


<h3>Nearby Charaters</h3>
<ul>
<% for charater in @charaters %>
  <li><%= link_to charater.tipo, charater %> (<%= charater.distance.to_f.round(2) %> miles)</li>
<% end %>
</ul>


<p id="notice"><%= notice %></p>

<%= gmaps("auto_adjust" => "true", "markers" => {"data" => @json }) %>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
</div>