<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :subscriber_name %>
  </div>
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
   <div class="field">
    <%= f.label "Barrio de Interés (sobre el cual deseas recibir los reportes)" %>
    <%= f.select :subscriber_neighborhood, [['Antonio Nariño'], ['Barrios Unidos'], ['Bosa'], ['Candelaria'], ['Chapinero'], ['Ciudad Bolívar'],['Engativá'],['Fontibón'],['Kennedy'],['Mártires'],['Puente Aranda'],['Rafael Uribe'],['San Cristóbal'],['Santa Fe'],['Suba'],['Teusaquillo'],['Tunjuelito'],['Usaquén']], :include_blank => true %> 
  </div>
 <!--  <div class="field">
    <%= f.label :subscriber_password %>
    <%= f.password_field :subscriber_password %>
  </div>
  <div class="field">
    <%= f.label :subscriber_password_confirmation, "Confirmation" %>
    <%= f.password_field :subscriber_password_confirmation %>
  </div> -->
 


  <div class="actions">
    <%= f.submit "Regístrate", class: "btn btn-large btn-primary"%>
  </div>
<% end %>
