<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
<!-- ribbon -->
<div class="wrapper">
       <div class="ribbon-wrapper-green"><div class="ribbon-green">Beta</div></div>
</div>​

<!-- navbar -->
<div class="navbar">
 <div class="navbar-inner nav1">
    	<div class="container nav1">
 			<a href="/">
            <span class="bogota">Bogotá</span>
            <span class="segura">Segura</span>
            </a>
		</div>
	</div>
  		<div class="navbar-inner">
    	<div class="container">
	      	<ul class="nav">
		     	<li><%= link_to "Inicio", root_path %></li>		     
		     	<% if signed_in? %>
                        <li id="fat-menu">
                            <a href='#' class="dropdown"  data-toggle="dropdown">
                                Mi Cuenta <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Profile",current_usuario %></li>
                                <li><%= link_to "Settings",edit_usuario_path(current_usuario) %></li>
                                <li class="divider"></li>
                                <li>
                                    <%=  link_to "Sign out",signout_path, method: "delete" %>    
                                </li>
                            </ul>
                        </li>        
                        <% else %>
                        <li><%= link_to "Accede a tu cuenta", signin_path %></li>
                    <% end  %>  
                <li><%= link_to "Inscríbete", register_path %></li>
                <li><%= link_to "Reporta", reports_path %></li>
                <li><%= link_to "¿Cómo funciona?", about_path%></li>
<!--                 <li><%= link_to "Contáctanos", contact_path%></li> -->        
	    	</ul>
		</div>
	</div>
</div>
