<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
<!-- ribbon -->
<div class="wrapper">
       <div class="ribbon-wrapper-green"><div class="ribbon-green">Beta</div></div>
</div>​

<!-- navbar -->
<div class="navbar">
 <div class="navbar-inner nav1">
    	<div class="container nav1">
 			<a href="/">Bogotá Segura</a>
		</div>
	</div>
  		<div class="navbar-inner">
    	<div class="container">
	      	<ul class="nav">
		     	<li><%= link_to "Inicio", root_path %></li>
		     	<li><%= link_to "Inscríbete", register_path %></li>
		     	<li><%= link_to "Reporta", reports_path %></li>
		     	<li><%= link_to "¿Cómo funciona?", about_path%></li>
		     	<li><%= link_to "Accede a tu cuenta", signin_path %></li> -->
		        
		      
	    	</ul>
		</div>
	</div>
</div>
